@font-face {
   font-family: Rubik;
   src: local("Rubik"), local("Rubik-Regular"),
   url(Rubik-Regular.woff2) format(woff2),
   url(Rubik-Regular.woff) format(woff),
   url(Rubik-Regular.eot) format(eot);
   font-weight: 400;
}
@font-face {
   font-family: Rubik;
   src: local("Rubik"), local("Rubik-Medium"),
   url(Rubik-Medium.woff2) format(woff2),
   url(Rubik-Medium.woff) format(woff),
   url(Rubik-Medium.eot) format(eot);
   font-weight: 500;
}
@font-face {
   font-family: Rubik;
   src: local("Rubik"), local("Rubik-Bold"),
   url(Rubik-Bold.woff2) format(woff2),
   url(Rubik-Bold.woff) format(woff),
   url(Rubik-Bold.eot) format(eot);
   font-weight: 700;
}